<div class="register-container">
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="registerData.username"
        required
      />
    </div>
    <div>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="registerData.name"
        required
      />
    </div>
    <div>
      <label for="surname">Surname</label>
      <input
        type="text"
        id="surname"
        name="surname"
        [(ngModel)]="registerData.surname"
        required
      />
    </div>
    <div>
      <label for="ccnumber">Colombian Identification Number</label>
      <input
        type="text"
        id="ccnumber"
        name="ccnumber"
        [(ngModel)]="registerData.ccnumber"
        required
        pattern="^[0-9]{8,12}$"
      />
    </div>
    <div *ngIf="registerForm.controls.ccnumber?.invalid && registerForm.controls.ccnumber?.touched">
      <small>Identity Card Number must be 8-12 digits.</small>
    </div>
    
    
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="registerData.email"
        required
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="registerData.password"
        required
      />
    </div>
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>
</div>
