
<div class="dashboard">
<h1></h1>
    
    <!-- Özet Paneller -->
    <div class="summary-cards">
      <div class="card">
        <h3>Toplam Kullanıcı</h3>
        
      </div>
      <div class="card">
        <h3>Etkinlikler</h3>
       
      </div>
      <div class="card">
        <h3>Kazanç</h3>
        
      </div>
    </div>
    
    <!-- Grafikler -->
    <div class="charts">
      <div class="chart">
        <h3>Satış Grafiği</h3>
        <canvas id="salesChart"></canvas>
      </div>
      <div class="chart">
        <h3>Kullanıcı Etkileşimleri</h3>
        <canvas id="usersChart"></canvas>
      </div>
    </div>
    
    <!-- Son İşlemler -->
    <div class="recent-activities">
      <h3>Son İşlemler</h3>
      <ul>
        <li>Kullanıcı X yeni bir kayıt yaptı.</li>
        <li>Ürün Y stoklara eklendi.</li>
        <li>Kullanıcı Z hesabını güncelledi.</li>
      </ul>
    </div>
  </div>
  